extends ./layout/index
block contenido
    main.container.mt-5 
      .row 
         .col-md-5 
           img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
         .col-md-7 
           h1= pagina
           blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nisl cursus augue ullamcorper egestas at ut nisl. In aliquam elit enim, eget sodales libero pretium sit amet. In vulputate urna at aliquam laoreet. Donec tellus tortor, faucibus eu accumsan non, fermentum quis enim. Praesent tellus tellus, pulvinar in congue consectetur, egestas vel orci.

           p Duis porttitor in lacus vel imperdiet. Suspendisse porttitor turpis interdum, semper lacus non, vulputate erat. Nullam volutpat dictum tellus id varius. Nam nibh nibh, vestibulum ut leo nec, dignissim commodo odio. Nam hendrerit nulla est, a maximus erat ultrices consequat.

           p Maecenas velit libero, gravida in interdum sit amet, auctor ut dui. Nulla rhoncus tempus varius. Aliquam vestibulum ullamcorper nulla dignissim vehicula. Fusce semper ac tortor et bibendum. Curabitur placerat orci vitae egestas sagittis. Cras hendrerit orci lacus, et scelerisque tellus accumsan.
    
    .listado-iconos
       .container.mt-5.py-5.text-center  
            .row 
             .col-md-4 
                img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                h2.mb-4 Seguridad 
                p Donec quis nisl cursus augue ullamcorper egestas at ut nisl. In aliquam elit enim.
             .col-md-4 
                img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                h2.mb-4 Mejores destinos 
                p Donec quis nisl cursus augue ullamcorper egestas at ut nisl. In aliquam elit enim.
                        
             .col-md-4 
                img(src="img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                h2.mb-4 Los mejores precios 
                p Donec quis nisl cursus augue ullamcorper egestas at ut nisl. In aliquam elit enim.
                   
               
                